body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
.legend {
  color: #555;
  padding: 12px 9px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend i {
  width: 14px;
  height: 14px;
  float: left;
  margin: 0 10px 0 0;
  opacity: 0.7;
}

